.searchBarContainer {
  margin-top: 100px;
}

.searchBar {
  height: 50px;
  margin: auto;
  width: 60%;
}

.searchResultContainer {
  margin-top: 50px;
}

.searchResult {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  color: black;
  background-color: white;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

.searchItemButtonContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.searchItemButton {
  width: 140px;
  height: 40px;
  background-color: '#DC7633';
}
